/* animations.css */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.green-pulse-light {
  animation: green-pulse-core 2s infinite;
}

.green-pulse-ring {
  animation: green-pulse-wave 2s infinite;
  animation-delay: 0.3s;
}

.green-pulse-ring-2 {
  animation: green-pulse-wave-2 2s infinite;
  animation-delay: 0.6s;
}

@keyframes green-pulse-core {

  0%,
  100% {
    opacity: 0.8;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes green-pulse-wave {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }

  50% {
    opacity: 0.3;
    transform: scale(1.5);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes green-pulse-wave-2 {
  0% {
    opacity: 0.4;
    transform: scale(1);
  }

  50% {
    opacity: 0.2;
    transform: scale(1.8);
  }

  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}